- form_for [current_user, @snippet] do |f|
  = f.error_messages
  = render :partial => 'snippets/fields', :locals => { :f => f }
  = f.submit 'Update'

= link_to 'Show', [current_user, @snippet]
= link_to 'Back', user_snippets_path(current_user)
= link_to 'Delete', user_snippet_path(current_user), :confirm => 'Are you sure?', :method => :delete