- form_for [:my, @snippet] do |f|
  = f.error_messages
  = render :partial => 'my/snippets/fields', :locals => { :f => f }
  = f.submit 'Update'

= link_to 'Show', [:my, @snippet]
= link_to 'Back', my_snippets_path
= link_to 'Delete', [:my, @snippet], :confirm => 'Are you sure?', :method => :delete
