- form_for @user do |form|
  = form.error_messages
  = form.text_field :username, :placeholder => 'User name', :title => 'User name'
  = form.text_field :email, :placeholder => 'Email', :title => 'Email'
  = form.text_field :openid_identifier, :placeholder => 'OpenID URL', :title => 'OpenID URL'
  .clr
  = form.submit "Update"