.userpage
  %h1
    = gravatar_for @user, :size => 48
    =h @user.username
  .vcard
    %dl
      %dt Name
      %dd.fn= h @user.username
    %dl
      %dt Member since
      %dd= @user.created_at.strftime "%b %d, %Y"
    %dl
      %dt Snippets count
      %dd= @user.snippets.count
  .clr
  %hr
= render :file => 'snippets/index'