<!DOCTYPE html>
%html
  %head
    %title Code Snippets
    =auto_discovery_link_tag :rss, rss_url, {:title => "Snippets RSS"}
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'content-type'}
    %meta{:content => '', :name => 'keywords'}
    %meta{:content => '', :name => 'description'}
    %link{:rel => "shortcut icon", :href => "/favicon.gif"}
    = stylesheet_link_tag 'reset', 'highlight-github', 'styles'
  %body
    #container
      %header
        .root-link= link_to 'Code Snippets', root_path, :title => 'Code Snippets'
        = render_navigation
      %section.main
        = render_flash
        = yield
      -#
        %aside
          %h4 Search
          %form{:action => "#", :class => "s"}
            <input name="search" type="text" value="Type term and hit enter...">
          %nav
            %h4 Navigation
            = render_navigation
          %h4 Example Tag Cloud
          %ul#tagcloud
            - tag_cloud Snippet.tag_counts, %w(size-1 size-2 size-3 size-4) do |tag, css_class|
              %li{:class => css_class}= link_to tag.name, tag_path(tag.name), :title => tag.name
      %footer
        %p
          == &copy; #{Time.now.year} Code Snippets is an OpenSource project.
          GitHub repo can be found at
          = link_to 'http://github.com/PavelTyk/code-snippets', 'http://github.com/PavelTyk/code-snippets', :title => 'Code Snippets GitHub repo'
    = javascript_include_tag 'jquery.min', 'jrails.min', 'highlight.min', 'jquery.placeholder', 'application'
    :javascript
      hljs.initHighlightingOnLoad();