<!DOCTYPE html>
%html
  %head
    %title Code Snippets
    =auto_discovery_link_tag :rss, rss_url, {:title => "Snippets RSS"}
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'content-type'}
    %meta{:content => '', :name => 'keywords'}
    %meta{:content => '', :name => 'description'}
    %link{:rel => "shortcut icon", :href => "/favicon.gif"}
    = stylesheet_link_tag 'reset', 'highlight-github', 'styles'
  %body
    #container
      %header
        .root-link= link_to 'Code Snippets', root_path, :title => 'Code Snippets'
        = render_navigation
      %section.main
        = render_flash
        = yield
      %footer
        %p
          == &copy; #{Time.now.year} Code Snippets is an #{link_to 'OpenSource project', 'http://github.com/PavelTyk/code-snippets', :title => 'Code Snippets GitHub repository'}.
          == Subscribe to #{link_to 'RSS feed', rss_url, :title => 'RSS feed'}.

    = javascript_include_tag 'jquery.min', 'jrails.min', 'highlight.min', 'jquery.placeholder', 'application'
    :javascript
      hljs.initHighlightingOnLoad();
      $(document).ready(function(){#{yield :javascript}});
